@import "https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap";

body {
  margin: 0;
  padding: 0;
  background: white;
  padding: 4vh;
}

p {
  /* font-family: 'Pangolin', cursive; */
  font-family: 'Patrick Hand', cursive;
  font-size: 1.7em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-family: 'Patrick Hand', cursive;
  font-size: 2em;
}

.general {
  margin: auto;
  max-width: 1000px;
}

.titulo {
  font-family: 'Patrick Hand', cursive;
  text-align: center;
  border: solid 3px #ff9d87;
  border-radius: 5px;
}

.columnas {
  display: flex;
  flex-direction: column;
}

.columna_txt {
  padding: 0 1em;
}

.columna_img {
  text-align: center;
}

.columna_img img {
  width: 150px;
}

.galeria {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2em;
}

.galeria_img {
  width: 250px;
  text-align: center;
  padding: 0.5em;
}

.galeria_img:hover {
  box-sizing: border-box;
  color: #ff9d87;
  border: solid 2px #ff9d87;
  border-radius: 5px;
}

.galeria_img a {
  text-decoration: none;
  color: black;
}

.galeria_img img {
  width: 100%;
}

.footer_menu {
  padding: 1em;
}

.lectura {
  padding: 1em;
}

.lectura_img img {
  width: 100%;
}

.textual {
  padding: 1em;
}

.a_btn {
  font-family: 'Patrick Hand', cursive;
  font-size: 2em;
  color: black;
}

.a_btn:hover {
  color: #ff9d87;
  cursor: pointer;
}

footer {
  text-align: center;
  font-size: 0.9em;
}

@media screen and (max-width: 500px) {
  .titulo h1 {
    font-size: 9vw;
  }

  .lectura {
    padding: 5px;
  }

  .galeria_img {
    width: 100px;
  }

  p {
    font-size: 1.2em;
  }
}