body {
  margin: 0;
  padding: 0;
}

#general {
  max-width:1300;
  margin: auto;
  border: solid;
  background: #eedaf9;
}

#titulo {
  width: 45%;
  margin: auto;
}

#titulo img {
  width: 100%;
}

#acerca {
  width: 25vw;
  height: 15vw;
  border-radius: 8px;
  border: solid #eea9ad 5px;
  background: #fbf1f0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 35%;
  display: grid;
  grid-template-rows: 24% 76%;
}

#top_acerca {
  border-bottom: solid #eea9ad 5px;
  display: flex;
  justify-content: flex-end;
}

#boton {
  height: 100%;
  width: 30px;
  cursor: pointer;
  background-image: url('boton.png');
  background-size: 100%;
  box-sizing: border-box;
  border: solid #eea9ad 3px;
  border-radius: 3px 0 0 3px;
}

#recuadro {
  display: flex;
  align-items: center;
  justify-content: center;
}

#recuadro p {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
  padding: 1em;
}

#recuadro p:hover {
  color: red;
}

#historia {
  width: 30%;
}

#historia img {
  width: 100%;
}

#comics {
  width: 30%;
}

#comics img {
  width: 100%;
}

#cama {
  width: 30%;
}

#cama img {
  width: 100%;
}

footer {
  margin: auto;
  text-align: center;
}